<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Fontawesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

        <!--Style-->
        <link rel="stylesheet" href="css/style.css">

        <!-- On Scroll Library -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="wrapper">
            <!--Header-->
            <header class="container-fluid position-fixed shadow">
                <div class="row align-items-center py-4">
                    <!--Nav Logo-->
                    <div class="navbar col-6 col-lg-12 justify-content-start justify-content-sm-evenly flex-md-nowrap">
                        <div class="navlogo text-uppercase">
                            product.
                        </div>

                        <!--Navbar-->
                        <div class="navbar-links d-none d-lg-flex justify-content-between text-uppercase">
                            <a href="#new" class="text-decoration-none text-dark">new</a>
                            <a href="#men" class="text-decoration-none text-dark">men<i class="fas fa-angle-down"></i></a>
                            <a href="#women" class="text-decoration-none text-dark">women</a>
                            <a href="#accesories" class="text-decoration-none text-dark">accesories</a>
                            <a href="#jwellary" class="text-decoration-none text-dark">jwellary</a>
                            <a href="#about" class="text-decoration-none text-dark">about</a>
                            <a href="#contact" class="text-decoration-none text-dark">contact</a>
                        </div>

                        <!--Navicons-->
                        <div class="navicons d-none d-lg-flex justify-content-between">
                            <i class="fas fa-search"></i>
                            <i class="far fa-user"></i>
                            <i class="fas fa-shopping-cart"><sup class="badge bg-dark rounded-circle">2</sup></i>
                        </div>
                    </div>


                    <!--Mobile Nav-->
                    <div class="mob-nav col-6 d-lg-none text-sm-center">
                        <a href="#menu" data-bs-toggle="collapse"><i class="fas fa-bars"></i></a>
                        <div class="collapse" id="menu">
                            <div class="navbar-links position-absolute start-0 flex-column d-flex justify-content-center align-items-start text-uppercase">
                                <a href="#new" class="text-decoration-none text-dark">new</a>
                                <a href="#men" class="text-decoration-none text-dark">men<i class="fas fa-angle-down"></i></a>
                                <a href="#women" class="text-decoration-none text-dark">women</a>
                                <a href="#accesories" class="text-decoration-none text-dark">accesories</a>
                                <a href="#jwellary" class="text-decoration-none text-dark">jwellary</a>
                                <a href="#about" class="text-decoration-none text-dark">about</a>
                                <a href="#contact" class="text-decoration-none text-dark">contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


            <!--Hero Section-->
            <section class="hero-section">
                 <div class="container-fluid h-100">
                     <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="hero-sec-content text-center">
                            <h3 class="text-white h1">The New Way To Display Product by <span class="hero-span h1">Prathmesh Kumbhar</span></h3>
                            <div class="hero-sec-content-btn">
                                <a href="#" class="text-decoration-none text-dark text-uppercase">explore now</a>
                            </div>
                        </div>
                     </div>
                 </div>
            </section>


            <!--Features-->
            <section class="feature-section bg-light">
                <div class="container">
                    <div class="row bg-light row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-between py-5">
                        <div class="col delivery bg-white text-center py-4 px-2 py-md-5 mb-2 mb-sm-3 fea-1" data-aos="zoom-in" data-aos-duration="2000">
                            <i class="fas fa-truck"></i>
                            <h3 class="text-uppercase">worldwide delivery</h3>
                            <p>Far far away, behind the word mountains, far from the countries.</p>
                        </div>
                        <div class="col payments bg-white text-center py-4 px-2 py-md-5 mb-2 mb-sm-3 fea-1 " data-aos="zoom-in" data-aos-duration="2000">
                            <i class="fas fa-shield-alt"></i>
                            <h3 class="text-uppercase">secure payments</h3>
                            <p>Far far away, behind the word mountains, far from the countries.</p>
                        </div>
                        <div class="col returns bg-white text-center py-4 px-2 py-md-5 mb-2 mb-sm-3 fea-1" data-aos="zoom-in" data-aos-duration="2000">
                            <i class="fas fa-redo"></i>
                            <h3 class="text-uppercase">simple returns</h3>
                            <p>Far far away, behind the word mountains, far from the countries.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!--Sales Section-->
            <section class="sales container py-3">
                <div class="row">
                    <div class="col-6 col-md-4" data-aos="fade-up" data-aos-duration="2000">
                        <figure>
                            <div class="overflow-wrap">
                                <div class="sale-img position-relative">
                                    <img src="images/illustrations/sale1.jpg" alt=""><span class="sale-span bg-success text-white position-absolute top-0 start-0 px-2 text-uppercase">new</span>
                                </div>
                            </div>
                            <figcaption>
                                <div class="sale-text text-center">
                                    <h3>Kiko Linen Slip Dress, Brown</h3>
                                    <span class="sale-price">£69.00</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-6 col-md-4" data-aos="fade-up" data-aos-duration="2000">
                        <figure>
                            <div class="sale-img position-relative">
                                <img src="images/illustrations/sale2.jpg" alt=""><span class="sale-span bg-warning text-white position-absolute top-0 start-0 px-2  text-uppercase">sale</span>
                            </div>
                            <figcaption>
                                <div class="sale-text text-center">
                                    <h3>Sleeve Dress, White</h3>
                                    <span class="sale-price"><del>£99.00</del> £69.00</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-6 col-md-4" data-aos="fade-up" data-aos-duration="2000">
                        <figure>
                            <div class="sale-img">
                                <img src="images/illustrations/sale3.jpg" alt=""> 
                            </div>
                            <figcaption>
                                <div class="sale-text text-center">
                                    <h3>Hodina Watch</h3>
                                    <span class="sale-price">£29.00</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-6 col-md-4" data-aos="fade-up" data-aos-duration="2000">
                        <figure>
                            <div class="sale-img">
                                <img src="images/illustrations/sale4.jpg" alt="">
                            </div>
                            <figcaption>
                                <div class="sale-text text-center">
                                    <h3>Triangle Low White-Black</h3>
                                    <span class="sale-price">£29.00</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-6 col-md-4" data-aos="fade-up" data-aos-duration="2000">
                        <figure>
                            <div class="sale-img position-relative">
                                <img src="images/illustrations/sale5.jpg" alt=""><span class=" sale-span bg-warning text-white position-absolute top-0 start-0 px-2 text-uppercase">sale</span>
                            </div>
                            <figcaption>
                                <div class="sale-text text-center">
                                    <h3>Kid Dress, White</h3>
                                    <span class="sale-price"><del>£99.00</del> £69.00</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-6 col-md-4" data-aos="fade-up" data-aos-duration="2000">
                        <figure>
                            <div class="sale-img position-relative">
                                <img src="images/illustrations/sale6.jpg" alt=""><span class="sale-span bg-warning text-white position-absolute top-0 start-0 px-2 text-uppercase">sale</span>
                            </div>
                            <figcaption>
                                <div class="sale-text text-center">
                                    <h3>Lady Shoes, Brown</h3>
                                    <span class="sale-price"><del>£99.00</del>£69.00</span>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </section>



            <!--Week Deals-->
            <section class="week-deals">
                    <div class="container">
                        <div class="row py-5 px-4 d-flex justify-content-start align-items-center">
                            <div class="col-lg-8 bg-white py-5 px-4 " data-aos="fade-right" data-aos-duration="2000">
                                <span>Limited Offers 20% OFF</span>
                                <h3 class="py-2">Week Deal</h3>
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum fuga incidunt laboriosam voluptas iure, delectus dignissimos facilis neque nulla earum.</p>
                                <a href="#" class="bg-dark text-white text-decoration-none text-uppercase px-4 py-3">shop now</a>
                            </div>
                        </div>
                    </div>
            </section>

            <!--Popular Items-->
            <section class="popular-items py-4">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center py-5">
                        <h3 class="text-capitalize">popular items</h3>
                        <div class="r-l-btns d-flex justify-content-between">
                            <i class="fas fa-arrow-left px-2 py-2 rounded-circle"></i>
                            <i class="fas fa-arrow-right px-2 py-2 rounded-circle"></i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-4" data-aos="flip-left" data-aos-duration="2000">
                            <figure>
                                <div class="item-img position-relative">
                                    <img src="images/illustrations/sale5.jpg" alt="">
                                    <div class="items-img-span">
                                        <span class="sale-span bg-warning text-white position-absolute top-0 start-0 px-2  text-uppercase">sale</span>
                                    </div>
                                </div>
                                <figcaption>
                                    <div class="item-txt text-center">
                                        <h3>Kid Dress, White</h3>
                                        <span class="sale-price"><del>£99.00</del> £69.00</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4" data-aos="flip-left" data-aos-duration="2000">
                            <figure>
                                <div class="item-img">
                                    <img src="images/illustrations/sale3.jpg" alt="">
                                    <div class="items-img-span"><span></span></div>
                                </div>
                                <figcaption>
                                    <div class="item-txt text-center">
                                        <h3>Hodina Watch</h3>
                                        <span class="sale-price">£29.00</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col d-none d-sm-block col-sm-6 col-md-4" data-aos="flip-left" data-aos-duration="2000">
                            <figure>
                                <div class="item-img">
                                    <img src="images/illustrations/sale4.jpg" alt="">
                                    <div class="items-img-span"><span></span></div>
                                </div>
                                <figcaption>
                                    <div class="item-txt text-center">
                                        <h3>Triangle Low White-Black</h3>
                                        <span class="sale-price">£29.00</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>


            <!--Footer-->
            <footer class="mt-5">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col d-flex flex-column align-items-start mb-5">
                            <h3 class="text-capitalize">help</h3>
                            <a href="#">Contact Us</a>
                            <a href="#">Accounts</a>
                            <a href="#">Shiping</a>
                            <a href="#">Returns</a>
                            <a href="#">FAQ</a>
                        </div>
                        <div class="col d-flex flex-column align-items-start mb-5">
                            <h3 class="text-capitalize">about</h3>
                            <a href="#">About Us</a>
                            <a href="#">Press</a>
                            <a href="#">Careers</a>
                            <a href="#">Teams</a>
                            <a href="#">FAQ</a>
                        </div>
                        <div class="col d-flex flex-column align-items-start mb-5">
                            <h3 class="text-capitalize">shop</h3>
                            <a href="#">Store</a>
                            <a href="#">Gift Cards</a>
                            <a href="#">Student Discounts</a>
                        </div>
                        <div class="col mt-5 mt-md-0">
                            <h3>Join our list and receive exclusives</h3>
                            <div class="email-updates d-flex">
                                <input type="email" class="py-2" placeholder="Email Address"><button class="px-3 border-0 bg-dark text-white text-uppercase">subscribe</button>
                            </div>
                        </div>
                    </div>
    
                    <p class="text-center py-5">Copyright &copy; 2021 All rights reserved | This template is made by <span class="border-bottom border-dark">Prathmesh Kumbhar</span></p>
                </div>
            </footer>
        </div> <!--Wrapper-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>